<p id="notice"><%= notice %></p>

<p>
  <b>Sname:</b>
  <%= @student.sname %>
</p>

<p>
  <b>Email:</b>
  <%= @student.email %>
</p>

<p>
  <b>Dob:</b>
  <%= @student.dob %>
</p>

<p>
  <b>Doj:</b>
  <%= @student.doj %>
</p>


<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
