<p id="notice"><%= notice %></p>

<p>
  <b>Fname:</b>
  <%= @faculty.fname %>
</p>

<p>
  <b>Femail:</b>
  <%= @faculty.femail %>
</p>

<p>
  <b>Dob:</b>
  <%= @faculty.dob %>
</p>


<%= link_to 'Edit', edit_faculty_path(@faculty) %> |
<%= link_to 'Back', faculties_path %>
